
$horse-types: pony horse mini-horse maxi-pony;
$black-weight:    900;
* {

  padding: 0;
  margin: 0;

}

.container_master{
  padding: 0;
  margin: 0;

}


// LI ELEMENT
$list-item-color: white;
$list-item-padding: 20px;
$list-item-font-size: 20px;
// NAVBAR WRAPPER
$navbar-height: 80px;
$navbar-bg: white;
$navbar-color: white;
$navbar-position-type: fixed;

#wrapper-main {
  font-size: 20px;
  margin-top: 0;

}

#navbar-wrapper {
  background-color: #ffffff;
  color: $navbar-color;
  height: 60px;
  @if $navbar-position-type == fixed {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
  } @else {
  }
  .navbar {
    height: 0px;
    ul {
      p{
        color: black;
      }
      a {
        text-decoration: none;
        color: white;
        font-family: 'Lato', sans-serif;
      }
      li.item {
        transition: all 1s ease;

      }

    }
  }


}
ul {
  .right {
    text-align: center;
    margin-right: 0;
    float: right;
    display: flex;
    font-size: $list-item-font-size;

    font-size: 15px;


  }
  .left {
    font-family: 'Lato', sans-serif;
    font-weight: $black-weight;
    margin-left: 0;
    font-size: 25px;
    padding: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    background-attachment: fixed;
  }
}
.key_padding{
  padding:2%;
}


.simple-trans-main > div {

  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 3em;
  will-change: transform, opacity;
  text-align: justify;
  text-justify: inter-word;


}

.grid_padding{
  padding: 5%;

}
.grid_padding_key{
padding: 50px;
}


.key_padding{
  padding: 10px;

}
.about_padding{
  margin: auto;
  width: 50%;

  padding: 10px;
}
.ant-layout-header{
  height: 178px;
  background-position: center;
  background-image: url(banner.jpg);

}

.site-layout-background {
  background: #fff;
}
.h3{
    text-align: justify;
    text-justify: inter-word;
}
.arrow{
  padding:2%;
  float: left;
}
.title{
  margin: auto;
  padding:2%;

}
.menu{
  display: none;
}
.burger{
  display: none;
}
@media screen and (max-width: 600px) {
  .ant-layout-sider{

    display: none;
  }
  .ant-layout-header{
    display: none;

  }
  .nav-bar{
    float: left;
    display: block;
    transition: 850ms;

  }
  .nav-bar.active{
    transition: 350ms;
    left:0;
  }
.nav-item{
  padding: 10%;
  width:400px;
}
.burger{
  display: block;
  background-color: white;
}
  .nav-menu{

    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 5px; /* 30px top margin to avoid conflict with the close button on smaller screens */

  }

.nav-link{
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */

}
  .news_padding{
    padding: 5px;
    display: block;
  }
  .ant-row{
    display: block;
    width: 750px;
  }



}
